setuptools
numpy==1.26.0
numba
pandas==2.2.2
scipy
statsmodels
matplotlib==3.8.3
sciris==3.2.0 
plotly
fire
optuna
parestlib
networkx
cmocean
cmasher
seaborn
graphviz
pydot
jsonobject==2.2.0
jsbeautifier
pytictoc
pytest
mkdocs==1.4.2
mkdocstrings==0.19.1
mkdocs-section-index
markdown
deepdiff
pyyaml 
cryptography
bz2file
ipykernel # For notebooks